<!DOCTYPE html>
<html>
<head>
    <title></title>
    #parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
        <Row :gutter="16">
            <div class="search-group">
                <i-col span="4">
                    <i-input v-model="q.name" @on-enter="query" placeholder="名称"/>
                </i-col>
                <i-button @click="query">查询</i-button>
                <i-button @click="reloadSearch">重置</i-button>
            </div>
            <div class="buttons-group">
                #if($shiro.hasPermission("activationcard:save"))
                <i-button type="info" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</i-button>
                #end
                #if($shiro.hasPermission("activationcard:update"))
                <i-button type="warning" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</i-button>
                #end
                #if($shiro.hasPermission("activationcard:delete"))
                <i-button type="error" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</i-button>
                #end
            </div>
        </Row>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

    <Card v-show="!showList">
        <p slot="title">{{title}}</p>
		<i-form ref="formValidate" :model="activationCard" :rules="ruleValidate" :label-width="80">
            <Form-item label="服务类型id" prop="serveTypeId">
                <i-input v-model="activationCard.serveTypeId" placeholder="服务类型id"/>
            </Form-item>
            <Form-item label="配送地址id" prop="addressId">
                <i-input v-model="activationCard.addressId" placeholder="配送地址id"/>
            </Form-item>
            <Form-item label="用户id" prop="userId">
                <i-input v-model="activationCard.userId" placeholder="用户id"/>
            </Form-item>
            <Form-item label="激活状态：0未激活，1已激活" prop="activated">
                <i-input v-model="activationCard.activated" placeholder="激活状态：0未激活，1已激活"/>
            </Form-item>
            <Form-item label="服务总次数" prop="serveCount">
                <i-input v-model="activationCard.serveCount" placeholder="服务总次数"/>
            </Form-item>
            <Form-item label="已服务次数" prop="haveServeCount">
                <i-input v-model="activationCard.haveServeCount" placeholder="已服务次数"/>
            </Form-item>
            <Form-item label="配送规则" prop="deliveryrules">
                <i-input v-model="activationCard.deliveryrules" placeholder="配送规则"/>
            </Form-item>
            <Form-item label="服务有效时间" prop="servevalidtime">
                <i-input v-model="activationCard.servevalidtime" placeholder="服务有效时间"/>
            </Form-item>
            <Form-item label="上次服务时间" prop="serveLastTime">
                <i-input v-model="activationCard.serveLastTime" placeholder="上次服务时间"/>
            </Form-item>
            <Form-item label="下次服务时间" prop="serveNextTime">
                <i-input v-model="activationCard.serveNextTime" placeholder="下次服务时间"/>
            </Form-item>
            <Form-item>
                <i-button type="primary" @click="handleSubmit('formValidate')">提交</i-button>
                <i-button type="warning" @click="reload" style="margin-left: 8px"/>返回</i-button>
                <i-button type="ghost" @click="handleReset('formValidate')" style="margin-left: 8px">重置</i-button>
            </Form-item>
        </i-form>
	</Card>
</div>

<script src="${rc.contextPath}/js/shop/activationcard.js?_${date.systemTime}"></script>
</body>
</html>