<!DOCTYPE html>
<html>
<head>
    <title>云课堂表
</title>
    #parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
        <Row :gutter="16">
            <div class="search-group">
                <i-col span="4">
                    <i-input v-model="q.videoTitle" @on-enter="query" placeholder="主标题查询"/>
                </i-col>
                <i-button @click="query">查询</i-button>
                <i-button @click="reloadSearch">重置</i-button>
            </div>
            <div class="buttons-group">
                #if($shiro.hasPermission("cloudclassroom:save"))
                <i-button type="info" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</i-button>
                #end
                #if($shiro.hasPermission("cloudclassroom:update"))
                <i-button type="warning" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</i-button>
                #end
                #if($shiro.hasPermission("cloudclassroom:delete"))
                <i-button type="error" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</i-button>
                #end
            </div>
        </Row>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

    <Card v-show="!showList">
        <p slot="title">{{title}}</p>
		<i-form ref="formValidate" :model="cloudClassroom" :rules="ruleValidate" :label-width="80">
            <Form-item label="视频主标题" prop="videoTitle">
                <i-input v-model="cloudClassroom.videoTitle" placeholder="视频主标题"/>
            </Form-item>
            <Form-item label="视频副标题" prop="videoSubtitle">
                <i-input v-model="cloudClassroom.videoSubtitle" placeholder="视频副标题"/>
            </Form-item>
            <Form-item label="视频描述" prop="videoDescribe">
                <i-input v-model="cloudClassroom.videoDescribe" placeholder="视频描述"/>
            </Form-item>
            <Form-item label="视频封面图片" prop="videoCoverPic">
                <i-input v-model="cloudClassroom.videoCoverPic" placeholder="视频封面图片"/>
            </Form-item>
            <Form-item label="视频地址" prop="videoAdress">
                <i-input v-model="cloudClassroom.videoAdress" placeholder="视频地址"/>
            </Form-item>
            <Form-item>
                <i-button type="primary" @click="handleSubmit('formValidate')">提交</i-button>
                <i-button type="warning" @click="reload" style="margin-left: 8px"/>返回</i-button>
                <i-button type="ghost" @click="handleReset('formValidate')" style="margin-left: 8px">重置</i-button>
            </Form-item>
        </i-form>
	</Card>
</div>

<script src="${rc.contextPath}/js/shop/cloudclassroom.js?_${date.systemTime}"></script>
</body>
</html>