<!DOCTYPE html>
<html>
<head>
    <title>用户膳食计划</title>
    #parse("sys/header.html")

    <style>
        .upload-list {
            display: inline-block;
            width: 60px;
            height: 60px;
            text-align: center;
            line-height: 60px;
            border: 1px solid transparent;
            border-radius: 4px;
            overflow: hidden;
            background: #fff;
            position: relative;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
            margin-right: 4px;
        }

        .upload-list img {
            width: 100%;
            height: 100%;
        }

        .upload-list-cover {
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, .6);
        }

        .upload-list:hover .upload-list-cover {
            display: block;
        }

        .upload-list-cover i {
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            margin: 0 2px;
        }
        .cyp-header{
            padding-bottom:10px;
            padding-left:15px;
            padding-top:10px;
            /*color:#ffffff;*/
        }
        .cyp-header-span{
            padding-right:10px;
        }
    </style>
</head>
<body>
<div id="rrapp" v-cloak>
    <a href="menuplan.html" style="font-size: 18px;color: cornflowerblue">用户膳食计划</a>
    <div v-show="!details&&showList">
        <Row :gutter="16">
            <div class="search-group">
                <i-col span="3">
                    <i-select v-model="q.cateringServiceOrgName" filterable placeholder="月子机构" clearable=true>
                        <i-option v-for="item in CateringServiceOrgNames"
                                  :value="item.cateringServiceOrgName"
                                  :key="item.cateringServiceOrgName">{{item.cateringServiceOrgName}}
                        </i-option>
                    </i-select>
                </i-col>
             <i-col span="3">
                 <i-select v-model="q.nutritionMenuType" filterable placeholder="食谱类型" clearable=true>
                        <i-option v-for="items in NutritionMenuTypes"
                                 :value="items.nutritionMenuType"
                                 :key="items.nutritionMenuType">{{items.nutritionMenuType}}
                        </i-option>
                 </i-select>
             </i-col>
                    <i-col span="3">
                        <i-input v-model="q.nickName" @on-enter="query" placeholder="用户名称"/>
                    </i-col>
                <i-col span="3">
                    <i-input v-model="q.menuName" @on-enter="query" placeholder="食谱名称"/>
                </i-col>
                    <i-button @click="query">查询</i-button>
                    <i-button @click="reloadSearch">重置</i-button>
            </div>
            <div class="button-group" style="float: right;margin-right: 25px ">
                #if($shiro.hasPermission("menuplan:save"))
                <i-button type="info" @click="add" style="font-size: 13px"><i class="fa fa-plus"></i>新增项目
                </i-button>
                #end
            </div>
        </Row>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <Card v-show="!showList&&!showfoods&&!details">
        <p slot="title">{{title}}</p>
        <div style="float:right;padding-left: 20px;">
            <p style="height:27px;line-height: 27px;font-size: 12px; width: 324px;">套餐名字：<span v-if="servermenuPlan.menuName">{{servermenuPlan.menuName}}</span><span v-else>待定制</span></p>
            <p style="height:27px;line-height: 27px ;font-size: 12px;width: 324px;">套餐编号：<span style="width: 10px;height: 10px"><input v-model="menuPlan.menuSn" /></span></p>
            <p style="height:27px;line-height: 27px; font-size: 12px; width: 324px;"> 用户名称：<span v-if="servermenuPlan.nickName">{{servermenuPlan.nickName}}</span><span v-else>待选择</span></p>
        </div>
        <div style="width: 84px; height:81px;float: right;">
            <div class="upload-list" v-for="item in uploadList" style="width: 84px;height: 81px">
                <template v-if="item.status == 'finished'">
                    <img :src="item.imgUrl"/>
                    <div class="upload-list-cover">
                        <Icon type="ios-eye-outline" @click.native="handleView(item.imgUrl)"></Icon>
                        <Icon type="ios-trash-outline" @click.native="handleRemove(item)"></Icon>
                    </div>
                </template>
                <template v-else>
                    <Progress v-if="item.showProgress" percent="item.percentage" hide-info></Progress>
                </template>
            </div>
            <Upload
                    ref="upload"
                    :show-upload-list="false"
                    :default-file-list="uploadList"
                    :on-success="handleSuccess"
                    :format="['jpg','jpeg','png']"
                    :max-size="2048"
                    :on-format-error="handleFormatError"
                    :on-exceeded-size="handleMaxSize"
                    :before-upload="handleBeforeUpload"
                    multiple
                    type="drag"
                    action="../sys/oss/upload"
                    style="display: inline-block;width: 84px;" v-show="showcamera">
                <div style="width: 84px;height:81px;line-height: 84px;">
                    <Icon type="camera" size="20"></Icon>
                </div>
            </Upload>
            <Modal title="查看图片" v-model="visible">
                <img :src="imgName" v-if="visible" style="width:100%" />
            </Modal>
        </div>
        <i-form ref="formValidate" :model="menuPlan" :rules="ruleValidate" :label-width="80">
            <Form-item label="机构名称" prop="name" style="width: 300px;display: inline-block;">
                    <i-select v-model="servermenuPlan.cateringServiceOrgName" filterable placeholder="月子机构" clearable=true>
                        <i-option v-for="item in Caterings"
                                  :value="item.name"
                                  :key="item.name">{{item.name}}
                        </i-option>
                    </i-select>
                </Form-item>
            <Form-item label="计划类型" prop="nutritionMenuType" style="width: 300px;display: inline-block;">
                <i-select v-model="servermenuPlan.nutritionMenuType" filterable placeholder="食谱类型" clearable=true>
                    <i-option v-for="items in NutritionMenuTypes"
                              :value="items.nutritionMenuType"
                              :key="items.nutritionMenuType">{{items.nutritionMenuType}}
                    </i-option>
                </i-select>
            </Form-item>
            <From-item style="margin-left: 110px">
            <i-button type="info" @click="addfoods"><i class="fa fa-add" style=""></i>添加餐饮计划</i-button>
            </From-item>
            <Form-item label="用户名称" prop="nickname" style="width: 300px;">
                <i-select v-model="servermenuPlan.nickName" filterable placeholder="用户名称" clearable=true>
                    <i-option v-for="item in UserNames"
                              :value="item.nickname"
                              :key="item.nickname">{{item.nickname}}
                    </i-option>
                </i-select>
            </Form-item>
            <!--<Form-item label="餐品类型" prop="menuType">-->
                <!--<i-input v-model="menuPlan.menuType" placeholder="早餐午餐晚餐"/>-->
            <!--</Form-item>-->
            <Form-item label="食谱名称" prop="menuName">
            <i-input v-model="servermenuPlan.menuName" placeholder="食谱名称"/>
        </Form-item>
            <Form-item label="疗养阶段" prop="serviceStage" style="width: 268px;display: inline-block ">
                <i-select v-model="servermenuPlan.serviceStage" clearable=true>
                    <i-option value="0">第一周疗养阶段</i-option>
                    <i-option value="1">第二周疗养阶段</i-option>
                    <i-option value="2">第三周疗养阶段</i-option>
                    <i-option value="3">第四周疗养阶段</i-option>
                </i-select>
            </Form-item>
            <Form-item label="计划开始时间" prop="serviceCycleSt" style="width:268px;display: inline-block">
                <Date-picker v-model="servermenuPlan.serviceCycleSt" placeholder="计划开始时间"/>
            </Form-item>
            <Form-item label="计划结束时间" prop="serviceCycleEt" style="width:268px;display: inline-block">
                <Date-picker v-model="servermenuPlan.serviceCycleEt" placeholder="计划结束时间"/>
            </Form-item>
            <Form-item label="周期" prop="inspectionCycle" style="width: 268px; display: inline-block">
                <i-input v-model="servermenuPlan.inspectionCycle"  placeholder="周期"/>
            </Form-item>
            <!--<Form-item label="食谱编号" prop="menuSn">-->
                <!--<i-input v-model="menuPlan.menuSn" placeholder="机构id+日期年月日+餐单id"/>-->
            <!--</Form-item>-->
            <div style="border-bottom: 1px solid #e5e5e6;">
            <h4 style="height:40px;line-height: 40px;margin-left:20px;">早餐 </h4>
            <div style="padding-bottom: 10px;" v-for="(fooditem,i) in foodlist">
                <div style="width:50px;height: 50px;float:left;margin-left:80px;">
                    <img  alt="" style="width:50px;height:50px;" :src="fooditem.foodlistsrc" />
                </div>
                <div style="float:left;margin-left:100px;line-height: 50px;width:260px;">
                    <Form-item label="菜品名称" prop="serviceStage" style="width: 268px;display: inline-block ">
                        <i-select v-model="fooditem.foodlistname" clearable=true label-in-value=true @on-change="selectfood($event,i)">
                            <i-option v-for="(v,index) in targetKeys3":label="v.dishesName" :value="index" >{{v.dishesName}}</i-option>
                        </i-select>
                    </Form-item>
                </div>
                <Form-item label="" prop="inspectionCycle" style="width: 268px; display: inline-block">
                    <i-input v-model="fooditem.foodlistpwl" disabled />
                </Form-item>
                <span style="display: inline-block;margin-left: 200px;line-height:50px;width:50px;cursor:pointer;" @click="deletefood(i)">
                        移除
                    </span>
            </div>
            <div style="margin:0 auto;width:40px;height:30px;line-height: 30px;border-radius:10px;cursor:pointer;text-align: center;color:white;cursor:pointer;background: cornflowerblue;" @click="addfoodlist">添加</div>
             <div v-show="showselect">

             </div>
        </div>
            <div style="border-bottom: 1px solid #e5e5e6;">
                <h4 style="height:40px;line-height: 40px;margin-left:20px;">加餐 </h4>
                <div style="padding-bottom: 10px;" v-for="(fooditem,i) in foodlistadd">
                    <div style="width:50px;height: 50px;float:left;margin-left:80px;">
                        <img  alt="" style="width:50px;height:50px;" :src="fooditem.foodlistsrc" />
                    </div>
                    <div style="float:left;margin-left:100px;line-height: 50px;width:260px;">
                        <!--<i-input v-model="fooditem.foodlistname"  placeholder="菜品名称"/>-->
                        <Form-item label="菜品名称" prop="serviceStage" style="width: 268px;display: inline-block ">
                            <i-select v-model="fooditem.foodlistname" clearable=true label-in-value=true @on-change="selectfood1($event,i)">
                                <i-option v-for="(v,index) in targetKeys3"  :label="v.dishesName" :value="index" >{{v.dishesName}}</i-option>
                            </i-select>
                        </Form-item>
                    </div>
                    <Form-item label="" prop="inspectionCycle" style="width: 268px; display: inline-block">
                        <i-input v-model="fooditem.foodlistpwl" disabled />
                    </Form-item>
                    <span style="display: inline-block;margin-left: 200px;line-height:50px;width:50px;cursor:pointer;border-radius:10px;" @click="deletefoodadd(i)">
                        移除
                    </span>
                </div>
                <div style="margin:0 auto;width:40px;height:30px;line-height: 30px;text-align: center;color:white;background: cornflowerblue;cursor:pointer;border-radius:10px;" @click="addfoodlistadd">添加</div>
            </div>
            <div style="border-bottom: 1px solid #e5e5e6;">
                <h4 style="height:40px;line-height: 40px;margin-left:20px;">午餐 </h4>
                <div style="padding-bottom: 10px;" v-for="(fooditem,i) in foodlist1">
                    <div style="width:50px;height: 50px;float:left;margin-left:80px;">
                        <img  alt="" style="width:50px;height:50px;" :src="fooditem.foodlistsrc" />
                    </div>
                    <div style="float:left;margin-left:100px;line-height: 50px;width:260px;">
                        <Form-item label="菜品名称" prop="serviceStage" style="width: 268px;display: inline-block ">
                            <i-select v-model="fooditem.foodlistname" clearable=true label-in-value=true @on-change="selectfood2($event,i)">
                                <i-option v-for="(v,index) in targetKeys3"  :label="v.dishesName" :value="index">{{v.dishesName}}</i-option>
                            </i-select>
                        </Form-item>
                    </div>
                    <Form-item label="" prop="inspectionCycle" style="width: 268px; display: inline-block">
                        <i-input  v-model="fooditem.foodlistpwl" disabled />
                    </Form-item>
                    <span style="display: inline-block;margin-left: 200px;line-height:50px;width:50px;cursor:pointer;border-radius:10px;" @click="deletefood1(i)">
                        移除
                    </span>
                </div>
                <div style="margin:0 auto;width:40px;height:30px;line-height: 30px;text-align: center;color:white;background: cornflowerblue;cursor:pointer;border-radius:10px;" @click="addfoodlist1">添加</div>
            </div>
            <div style="border-bottom: 1px solid #e5e5e6;">
                <h4 style="height:40px;line-height: 40px;margin-left:20px;">加餐 </h4>
                <div style="padding-bottom: 10px;" v-for="(fooditem,i) in foodlistadd1">
                    <div style="width:50px;height: 50px;float:left;margin-left:80px;">
                        <img  alt="" style="width:50px;height:50px;" :src="fooditem.foodlistsrc" />
                    </div>
                    <div style="float:left;margin-left:100px;line-height: 50px;width:260px;">
                        <!--<i-input v-model="fooditem.foodlistname"  placeholder="菜品名称"/>-->
                        <Form-item label="菜品名称" prop="serviceStage" style="width: 268px;display: inline-block ">
                            <i-select v-model="fooditem.foodlistname" clearable=true label-in-value=true @on-change="selectfood3($event,i)">
                                <i-option v-for="(v,index) in targetKeys3"  :label="v.dishesName" :value="index">{{v.dishesName}}</i-option>
                            </i-select>
                        </Form-item>
                    </div>
                    <Form-item label="" prop="inspectionCycle" style="width: 268px; display: inline-block">
                        <i-input  v-model="fooditem.foodlistpwl" disabled />
                    </Form-item>
                    <span style="display: inline-block;margin-left: 200px;line-height:50px;width:50px;cursor:pointer;border-radius:10px;" @click="deletefoodadd1(i)">
                        移除
                    </span>
                </div>
                <div style="margin:0 auto;width:40px;height:30px;line-height: 30px;text-align: center;color:white;background: cornflowerblue;cursor:pointer;border-radius:10px;" @click="addfoodlistadd1">添加</div>
            </div>
            <div style="border-bottom: 1px solid #e5e5e6;">
                <h4 style="height:40px;line-height: 40px;margin-left:20px;">晚餐 </h4>
                <div style="padding-bottom: 10px;" v-for="(fooditem,i) in foodlist2">
                    <div style="width:50px;height: 50px;float:left;margin-left:80px;">
                        <img  alt="" style="width:50px;height:50px;" :src="fooditem.foodlistsrc" />
                    </div>
                    <div style="float:left;margin-left:100px;line-height: 50px;width:260px;">
                        <Form-item label="菜品名称" prop="serviceStage" style="width: 268px;display: inline-block ">
                            <i-select v-model="fooditem.foodlistname" clearable=true label-in-value=true @on-change="selectfood4($event,i)">
                                <i-option v-for="(v,index) in targetKeys3"  :label="v.dishesName" :value="index">{{v.dishesName}}</i-option>
                            </i-select>
                        </Form-item>
                    </div>
                    <Form-item label="" prop="inspectionCycle" style="width: 268px; display: inline-block">
                        <i-input  v-model="fooditem.foodlistpwl" disabled />
                    </Form-item>
                    <span style="display: inline-block;margin-left: 200px;line-height:50px;width:50px;cursor:pointer;border-radius:10px;" @click="deletefood2(i)">
                        移除
                    </span>
                </div>
                <div style="margin:0 auto;width:40px;height:30px;line-height: 30px;text-align: center;color:white;background: cornflowerblue;cursor:pointer;border-radius:10px;" @click="addfoodlist2">添加</div>
            </div>
            <div style="border-bottom: 1px solid #e5e5e6;">
                <h4 style="height:40px;line-height: 40px;margin-left:20px;">加餐 </h4>
                <div style="padding-bottom: 10px;" v-for="(fooditem,i) in foodlistadd2">
                    <div style="width:50px;height: 50px;float:left;margin-left:80px;">
                        <img  alt="" style="width:50px;height:50px;" :src="fooditem.foodlistsrc" />
                    </div>
                    <div style="float:left;margin-left:100px;line-height: 50px;width:260px;">
                        <Form-item label="菜品名称" prop="serviceStage" style="width: 268px;display: inline-block ">
                            <i-select v-model="fooditem.foodlistname" clearable=true label-in-value=true @on-change="selectfood5($event,i)">
                                <i-option v-for="(v,index) in targetKeys3"  :label="v.dishesName" :value="index">{{v.dishesName}}</i-option>
                            </i-select>
                        </Form-item>
                    </div>
                    <Form-item label="" prop="inspectionCycle" style="width: 268px; display: inline-block">
                        <i-input  v-model="fooditem.foodlistpwl" disabled />
                    </Form-item>
                    <span style="display: inline-block;margin-left: 200px;line-height:50px;width:50px;cursor:pointer;border-radius:10px;" @click="deletefoodadd2(i)">
                        移除
                    </span>
                </div>
                <div style="margin:0 auto;width:40px;height:30px;line-height: 30px;text-align: center;color:white;background: cornflowerblue;cursor:pointer;border-radius:10px;" @click="addfoodlistadd2">添加</div>
            </div>
            <Form-item label="状态" prop="menuStatus">
                <Radio-group v-model="menuPlan.menuStatus">
                    <Radio label="0">
                        <span>未签约</span>
                    </Radio>
                    <Radio label="1">
                        <span>已签约</span>
                    </Radio>
                </Radio-group>
            </Form-item>
            <Form-item label="营养原理" prop="nutritionPrinciple" style="width: 436px;">
                <i-input v-model="servermenuPlan.nutritionPrinciple" type="textarea" :rows="6" placeholder="营养原理"/>
            </Form-item>
            <Form-item>
                <i-button type="primary" @click="handleSubmit">提交</i-button>
                <i-button type="warning" @click="reload" style="margin-left: 8px"/>取消</i-button>
            </Form-item>
        </i-form>
    </Card>

    <Card v-show="details">
        <p slot="title">{{title}}</p>
        <div class="button-group" style="float: right; ">
            <i-button type="primary" @click="openStatus" style="font-size: 16px" v-if="menumapuser.menuStatus === 0">审核</i-button>
            <i-button type="primary" @click="printDetail(' + row.id + ')" style="font-size: 16px" v-else="menumapuser.menuStatus === '1'"><i class="fa fa-print" ></i>打印</i-button>
        </div>
        <div class="cyp-header">
            <div>状态：<span v-if="menumapuser.menuStatus==0">待审核</span><span v-else>已审核</span></div>
           <div style="padding-top:20px">
               <Icon type="checkmark-circled" class="cyp-header-span"></Icon>
               <span class="cyp-header-span">{{menumapsys.username}}</span>
               <span class="cyp-header-span">创建了月子餐单</span>
               <span class="cyp-header-span" >{{menumapuser.menuDate}}</span>
           </div>
        </div>
        <div style="padding-left:129px;padding-top:24px;font-size: 12px;">
            <div style="height: 81px" >
                <div style="width: 84px; height:81px;float: left" onload="image"><img :src="menumapuser.menuCoverPic" style="width: 84px; height:81px;"></div>
                <div style="float:left;padding-left: 20px;">
                    <p style="height:27px;line-height: 27px;font-size: 12px; width: 324px;">套餐名字:&nbsp&nbsp <span>{{menumapuser.menuName}}</span></p>
                    <p style="height:27px;line-height: 27px ;font-size: 12px;width: 324px;">套餐编号：<span>{{menumapuser.menuSn}}</span></p>
                    <p style="height:27px;line-height: 27px; font-size: 12px; width: 324px;"> 用户名称：{{menumapuser.nickName}}</p>
                </div>
                <div style="float: left">
                    <p style="height:27px;line-height: 27px;font-size: 12px" >服务机构：<span>{{menumapuser.cateringServiceOrgName}}</span></p>
                    <p style="height:27px;line-height: 27px;font-size: 12px"> 类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型：<span>{{menumapuser.nutritionMenuType}}</span></p>
                </div>
            </div>
            <div style="margin-bottom: 30px;margin-top: 30px;">
                <p><span style="width: 100px; display: inline-block;">体制检查周期：</span> <span style="width: 139px;display: inline-block;">{{menumapuser.inspectionCycle}}</span> <span style="width: 100px; display: inline-block;">初始体重</span><span>{{menumapweight.weight}}</span></p>
            </div>
            <div style="font-size:12px">
                <p><span style="width: 215px;display: inline-block;">{{menumapuser.serviceStage}}</span> <span style="width:90px;display: inline-block;"> 计划开始时间：</span><span style="width:160px;display: inline-block;">{{menumapst}}</span><span style="width: 90px;display: inline-block;">计划结束时间：</span><span style="width: 230px;display: inline-block;">{{menumapet}}</span><span>周期：</span><span>31天</span></p>
            </div>
            <div style="border-bottom: 1px solid #e5e5e6;">
                <h4 style="height:40px;line-height: 40px">早餐</h4>
                <!--<div style="overflow: hidden;padding-bottom: 10px;"     >-->
                    <!--<div style="width:50px;height: 50px;float:left;"><img :src="menutp.dishesCoverPic" style="width:50px;height: 50px;"></div>-->
                    <!--<div style="float:left;margin-left:200px;line-height: 50px;width:260px;">{{menutp.dishesName}}</div>-->
                    <!--<div style="float: left;line-height: 50px;">{{menutp.dishesCalories}}</div>-->
                <!--</div>-->
                <div style="overflow: hidden;padding-bottom: 10px;">
                    <div style="width:50px;height: 50px;float:left;"><img :src="menutp3.dishesCoverPic" style="width:50px;height: 50px;"></div>
                    <div style="float:left;margin-left:200px;line-height: 50px;width:260px;">{{menutp3.dishesName}}</div>
                    <div style="float: left;line-height: 50px;">{{menutp3.dishesCalories}}</div>
                </div>
            </div>
            <div style="border-bottom: 1px solid #e5e5e6;">
                <h4 style="height:40px;line-height: 40px">加餐</h4>
                <div style="overflow: hidden;padding-bottom: 10px;" >
                    <div style="width:50px;height: 50px;float:left;"><img :src="menutp5.dishesCoverPic" style="width:50px;height: 50px;"></div>
                    <div style="float:left;margin-left:200px;line-height: 50px;width:260px;">{{menutp5.dishesName}}</div>
                    <div style="float: left;line-height: 50px;">{{menutp5.dishesCalories}}</div>
                </div>
                <!--<div style="overflow: hidden;padding-bottom: 10px;">-->
                    <!--<div style="width:50px;height: 50px;background: red;float:left;"></div>-->
                    <!--<div style="float:left;margin-left:200px;line-height: 50px;width:260px;">菜品名字</div>-->
                    <!--<div style="float: left;line-height: 50px;">300kcal</div>-->
                <!--</div>-->
            </div>
            <div style="border-bottom: 1px solid #e5e5e6;">
                <h4 style="height:40px;line-height: 40px">午餐</h4>
                <div style="overflow: hidden;padding-bottom: 10px;" >
                    <div style="width:50px;height: 50px;float:left;"><img :src="menutp1.dishesCoverPic" style="width:50px;height: 50px;"></div>
                    <div style="float:left;margin-left:200px;line-height: 50px;width:260px;">{{menutp1.dishesName}}</div>
                    <div style="float: left;line-height: 50px;">{{menutp1.dishesCalories}}</div>
                </div>
                <!--<div style="overflow: hidden;padding-bottom: 10px;">-->
                    <!--<div style="width:50px;height: 50px;background: red;float:left;"></div>-->
                    <!--<div style="float:left;margin-left:200px;line-height: 50px;width:260px;">菜品名字</div>-->
                    <!--<div style="float: left;line-height: 50px;">300kcal</div>-->
                <!--</div>-->
            </div>
            <div style="border-bottom: 1px solid #e5e5e6;">
                <h4 style="height:40px;line-height: 40px">加餐</h4>
                <div style="overflow: hidden;padding-bottom: 10px;" >
                    <div style="width:50px;height: 50px;float:left;"><img :src="menutp4.dishesCoverPic" style="width:50px;height: 50px;"></div>
                    <div style="float:left;margin-left:200px;line-height: 50px;width:260px;">{{menutp4.dishesName}}</div>
                    <div style="float: left;line-height: 50px;">{{menutp4.dishesCalories}}</div>
                </div>
                <!--<div style="overflow: hidden;padding-bottom: 10px;">-->
                    <!--<div style="width:50px;height: 50px;background: red;float:left;"></div>-->
                    <!--<div style="float:left;margin-left:200px;line-height: 50px;width:260px;">菜品名字</div>-->
                    <!--<div style="float: left;line-height: 50px;">300kcal</div>-->
                <!--</div>-->
            </div>
            <div style="border-bottom: 1px solid #e5e5e6;">
                <h4 style="height:40px;line-height: 40px">晚餐</h4>
                <div style="overflow: hidden;padding-bottom: 10px;" >
                    <div style="width:50px;height: 50px;float:left;"><img :src="menutp2.dishesCoverPic" style="width:50px;height: 50px;"></div>
                    <div style="float:left;margin-left:200px;line-height: 50px;width:260px;">{{menutp2.dishesName}}</div>
                    <div style="float: left;line-height: 50px;">{{menutp2.dishesCalories}}</div>
                </div>
                <!--<div style="overflow: hidden;padding-bottom: 10px;">-->
                    <!--<div style="width:50px;height: 50px;background: red;float:left;"></div>-->
                    <!--<div style="float:left;margin-left:200px;line-height: 50px;width:260px;">菜品名字</div>-->
                    <!--<div style="float: left;line-height: 50px;">300kcal</div>-->
                <!--</div>-->
            </div>
            <div style="border-bottom: 1px solid #e5e5e6;">
                <h4 style="height:40px;line-height: 40px">加餐</h4>
                <div style="overflow: hidden;padding-bottom: 10px;" >
                    <div style="width:50px;height: 50px;float:left;"><img :src="menutp6.dishesCoverPic" style="width:50px;height: 50px;"></div>
                    <div style="float:left;margin-left:200px;line-height: 50px;width:260px;">{{menutp6.dishesName}}</div>
                    <div style="float: left;line-height: 50px;">{{menutp6.dishesCalories}}</div>
                </div>
                <!--<div style="overflow: hidden;padding-bottom: 10px;">-->
                    <!--<div style="width:50px;height: 50px;background: red;float:left;"></div>-->
                    <!--<div style="float:left;margin-left:200px;line-height: 50px;width:260px;">菜品名字</div>-->
                    <!--<div style="float: left;line-height: 50px;">300kcal</div>-->
                <!--</div>-->
            </div>
            <div style="margin-top:40px;overflow: hidden;">
                <div style="float: left;width:103px;">营养原理</div>
                <div style="float:left;width: 470px;"></div>
            </div>
            <div style="margin-left:480px;margin-top: 60px;">
                <i-button type="warning" @click="reload" style="margin-left: 8px"/>返回</i-button>
            </div>
        </div>
      </Card>



    <Card v-show="showfoods ">
        <p slot="title">{{title}}</p>
        <i-form ref="formValidate" :model="menuPlan" :label-width="80" >
            <!--<Form-item label="食谱编号" prop="menuSn">-->
                <!--<i-input v-model="menuPlan.menuSn"  readonly/>-->
            <!--</Form-item>-->
            <Transfer
                    :data="data3"
                    :target-keys="targetKeys3"
                    :list-style="listStyle"
                    :render-format="render3"
                    :operations="['放回','加入']"
                    filterable
                    @on-change="handleChange3">
                <div :style="{float: 'right', margin: '5px'}">
                    <i-button size="small" @click="reloadMockdata">重置</i-button>
                </div>
            </Transfer>
            <div style="height: 20px;width: 50px;background: dodgerblue;margin-left: 278px;margin-top: 40px">
                <span type="warning" @click="cancelsumbit" style="margin-left: 8px;width:40px;height:30px;line-height: 30px;border-radius:10px;cursor:pointer;text-align: center;color:white;cursor:pointer;background: cornflowerblue;"/>提交</span>
            </div>
        </i-form>
    </Card>


</div>

<script src="${rc.contextPath}/js/shop/menuplan.js?_${date.systemTime}"></script>

</body>
</html>