<!DOCTYPE html>
<html>
<head>
    <title>用户健康报告表
</title>
    #parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
        <Row :gutter="16">
            <div class="search-group">
                <i-col span="4">
                    <i-input v-model="q.nideshopUserId" @on-enter="query" placeholder="用户id查询"/>
                </i-col>
                <i-button @click="query">查询</i-button>
                <i-button @click="reloadSearch">重置</i-button>
            </div>
            <div class="buttons-group">
                #if($shiro.hasPermission("userhealthreport:save"))
                <i-button type="info" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</i-button>
                #end
                #if($shiro.hasPermission("userhealthreport:update"))
                <i-button type="warning" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</i-button>
                #end
                #if($shiro.hasPermission("userhealthreport:delete"))
                <i-button type="error" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</i-button>
                #end
            </div>
        </Row>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

    <Card v-show="!showList">
        <p slot="title">{{title}}</p>
		<i-form ref="formValidate" :model="userHealthReport" :rules="ruleValidate" :label-width="80">
            <Form-item label="用户id" prop="nideshopUserId">
                <i-input v-model="userHealthReport.nideshopUserId" placeholder="用户id"/>
            </Form-item>
            <Form-item label="检测时间" prop="detectionTime">
                <Date-picker v-model="userHealthReport.detectionTime" placeholder="检测时间"/>
            </Form-item>
            <Form-item label="更新时间" prop="updateTime">
                <Date-picker v-model="userHealthReport.updateTime" placeholder="更新时间"/>
            </Form-item>
            <Form-item label="体重" prop="weight">
                <i-input v-model="userHealthReport.weight" placeholder="体重"/>
            </Form-item>
            <Form-item label="BMI" prop="bmi">
                <i-input v-model="userHealthReport.bmi" placeholder=""/>
            </Form-item>
            <Form-item label="体脂率" prop="bodyFatRade">
                <i-input v-model="userHealthReport.bodyFatRade" placeholder="体脂率"/>
            </Form-item>
            <Form-item label="皮下脂肪率" prop="subFatPercentage">
                <i-input v-model="userHealthReport.subFatPercentage" placeholder="皮下脂肪率"/>
            </Form-item>
            <Form-item label="基础代谢量" prop="basicMetabolism">
                <i-input v-model="userHealthReport.basicMetabolism" placeholder="基础代谢量"/>
            </Form-item>
            <Form-item label="内脏脂肪等级" prop="visFatGrade">
                <i-input v-model="userHealthReport.visFatGrade" placeholder="内脏脂肪等级"/>
            </Form-item>
            <Form-item label="体水分率" prop="bodyWaterRate">
                <i-input v-model="userHealthReport.bodyWaterRate" placeholder="体水分率"/>
            </Form-item>
            <Form-item label="蛋白质" prop="protein">
                <i-input v-model="userHealthReport.protein" placeholder="蛋白质"/>
            </Form-item>
            <Form-item label="骨量" prop="boneMass">
                <i-input v-model="userHealthReport.boneMass" placeholder="骨量"/>
            </Form-item>
            <Form-item label="骨骼肌率" prop="skeletalMuscle">
                <i-input v-model="userHealthReport.skeletalMuscle" placeholder="骨骼肌率"/>
            </Form-item>
            <Form-item label="身体体型" prop="bodyShape">
                <i-input v-model="userHealthReport.bodyShape" placeholder="骨骼肌率"/>
            </Form-item>
            <Form-item label="身体年龄" prop="bodyAge">
                <i-input v-model="userHealthReport.bodyAge" placeholder="骨骼肌率"/>
            </Form-item>
            <Form-item label="健康评分" prop="sclscore">
                <i-input v-model="userHealthReport.sclscore" placeholder="骨骼肌率"/>
            </Form-item>
            <Form-item>
                <i-button type="primary" @click="handleSubmit('formValidate')">提交</i-button>
                <i-button type="warning" @click="reload" style="margin-left: 8px"/>返回</i-button>
                <i-button type="ghost" @click="handleReset('formValidate')" style="margin-left: 8px">重置</i-button>
            </Form-item>
        </i-form>
	</Card>
</div>

<script src="${rc.contextPath}/js/shop/userhealthreport.js?_${date.systemTime}"></script>
</body>
</html>