<!DOCTYPE html>
<html>
<head>
    <title>用户评论表
</title>
    #parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
        <Row :gutter="16">
            <div class="search-group">
                <i-col span="4">
                    <i-input v-model="q.nickname" @on-enter="query" placeholder="用户名称" />
                </i-col>
                <i-button @click="query">查询</i-button>
                <i-button @click="reloadSearch">重置</i-button>
            </div>
            <div class="buttons-group">
                <!--#if($shiro.hasPermission("usercomments:save"))-->
                <!--<i-button type="info" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</i-button>-->
                <!--#end-->
                <!--#if($shiro.hasPermission("usercomments:update"))-->
                <!--<i-button type="warning" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</i-button>-->
                <!--#end-->
                <i-button type="warning" @click="reply"><i class="fa fa-plus"></i>&nbsp;回复</i-button>
                #if($shiro.hasPermission("usercomments:delete"))
                <i-button type="error" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</i-button>
                #end
            </div>
        </Row>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

    <Card v-show="!showList">
        <p slot="title">{{title}}</p>
		<i-form ref="formValidate" :model="userComments" :rules="ruleValidate" :label-width="100">
            <Form-item label="用户名称" prop="nickname" style="width: 300px;">
                <i-select v-model="userComments.nickname" filterable placeholder="用户名称" clearable=true style="width: 300px">
                    <i-option v-for="item in UserNames"
                              :value="item.nickname"
                              :key="item.nickname">{{item.nickname}}
                    </i-option>
                </i-select>
            </Form-item>
            <Form-item label="评论时间" prop="commentsTime">
                <Date-picker v-model="userComments.commentsTime" placeholder="评论时间" style="width: 300px"/>
            </Form-item>
            <Form-item label="评论分数" prop="commentsScore">
                <i-input v-model="userComments.commentsScore" placeholder="评论分数" style="width: 300px"/>
            </Form-item>
            <Form-item label="用户评论" prop="userComment">
                <i-input v-model="userComments.userComment"  type="textarea" :rows="6" placeholder="用户评论" style="width: 300px"/>
            </Form-item>
            <Form-item label="课件id" prop="videoId">
                <i-input v-model="userComments.videoId" placeholder="课件id" style="width: 300px"/>
            </Form-item>
            <Form-item label="回复id" prop="replyId">
                <i-input v-model="userComments.replyId" placeholder="回复id" style="width: 300px"/>
            </Form-item>
            <Form-item label="回复类型 0是 1否" prop="replyType">
                <i-input v-model="userComments.replyType" placeholder="回复类型 0是 1否" style="width: 300px"/>
            </Form-item>

            <Form-item>
                <i-button type="primary" @click="handleSubmit('formValidate')">提交</i-button>
                <i-button type="warning" @click="reload" style="margin-left: 8px"/>返回</i-button>
                <i-button type="ghost" @click="handleReset('formValidate')" style="margin-left: 8px">重置</i-button>
            </Form-item>
        </i-form>
	</Card>
</div>

<script src="${rc.contextPath}/js/shop/usercomments.js?_${date.systemTime}"></script>
</body>
</html>