<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.dao.ApiApplicationRecordMapper">

    <resultMap type="com.platform.entity.ApiApplicationRecordVo" id="applicationRecordMap">
        <result property="id" column="id"/>
        <result property="newFoodId" column="new_food_id"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="newFoodName" column="new_food_name"/>
    </resultMap>

	<select id="queryObject" resultType="com.platform.entity.ApiApplicationRecordVo">
		select
			`id`,
			`new_food_id`,
			`province`,
			`city`,
			`name`,
			`phone`,
			`new_food_name`
		from application_record
		where id = #{id}
	</select>

	<select id="queryList" resultType="com.platform.entity.ApiApplicationRecordVo">
		select
    		`id`,
    		`new_food_id`,
    		`province`,
    		`city`,
    		`name`,
    		`phone`,
    		`new_food_name`
		from application_record
		WHERE 1=1
		<if test="name != null and name.trim() != ''">
			AND name LIKE concat('%',#{name},'%')
		</if>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from application_record
		WHERE 1=1
        <if test="name != null and name.trim() != ''">
            AND name LIKE concat('%',#{name},'%')
        </if>
	</select>
	 
	<insert id="save" parameterType="com.platform.entity.ApiApplicationRecordVo" useGeneratedKeys="true" keyProperty="id">
		insert into application_record(
			`new_food_id`,
			`province`,
			`city`,
			`name`,
			`phone`,
			`new_food_name`)
		values(
			#{newFoodId},
			#{province},
			#{city},
			#{name},
			#{phone},
			#{newFoodName})
	</insert>
	 
	<update id="update" parameterType="com.platform.entity.ApiApplicationRecordVo">
		update application_record 
		<set>
			<if test="newFoodId != null">`new_food_id` = #{newFoodId}, </if>
			<if test="province != null">`province` = #{province}, </if>
			<if test="city != null">`city` = #{city}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="phone != null">`phone` = #{phone}, </if>
			<if test="newFoodName != null">`new_food_name` = #{newFoodName}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from application_record where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from application_record where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>