<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.dao.ApiFoodIngredientsMapper">

    <resultMap type="com.platform.entity.FoodIngredientsVo" id="foodIngredientsMap">
        <result property="id" column="id"/>
        <result property="foodMaterialId" column="food_material_id"/>
        <result property="foodMaterialName" column="food_material_name"/>
        <result property="foodMaterialNum" column="food_material_num"/>
        <result property="foodMaterialSumcal" column="food_material_sumcal"/>
        <result property="dishesId" column="dishes_id"/>
		<result property="foodunit" column="food_unit"/>
    </resultMap>

	<select id="queryObject" resultType="com.platform.entity.FoodIngredientsVo">
		select
			`id`,
			`food_material_id`,
			`food_material_name`,
			`food_material_num`,
			`food_material_sumcal`,
			`dishes_id`
		from food_ingredients
		where id = #{id}
	</select>

	<select id="queryList" resultType="com.platform.entity.FoodIngredientsVo">
		select
		a.food_material_name,
		a.food_material_num,
		b.food_unit
		FROM food_ingredients a
		LEFT join food_material b on a.food_material_id=b.id
		WHERE 1=1
		<if test="dishesid != null">
			and a.dishes_id=#{dishesid}
		</if>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from food_ingredients
		WHERE 1=1
        <if test="name != null and name.trim() != ''">
            AND name LIKE concat('%',#{name},'%')
        </if>
	</select>
	 
	<insert id="save" parameterType="com.platform.entity.FoodIngredientsVo">
		insert into food_ingredients(
			`id`,
			`food_material_id`,
			`food_material_name`,
			`food_material_num`,
			`food_material_sumcal`,
			`dishes_id`)
		values(
			#{id},
			#{foodMaterialId},
			#{foodMaterialName},
			#{foodMaterialNum},
			#{foodMaterialSumcal},
			#{dishesId})
	</insert>
	 
	<update id="update" parameterType="com.platform.entity.FoodIngredientsVo">
		update food_ingredients 
		<set>
			<if test="foodMaterialId != null">`food_material_id` = #{foodMaterialId}, </if>
			<if test="foodMaterialName != null">`food_material_name` = #{foodMaterialName}, </if>
			<if test="foodMaterialNum != null">`food_material_num` = #{foodMaterialNum}, </if>
			<if test="foodMaterialSumcal != null">`food_material_sumcal` = #{foodMaterialSumcal}, </if>
			<if test="dishesId != null">`dishes_id` = #{dishesId}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from food_ingredients where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from food_ingredients where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>