<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.dao.ApiNutrientElementsMapper">

    <resultMap type="com.platform.entity.NutrientElementsVo" id="nutrientElementsMap">
        <result property="id" column="id"/>
        <result property="nutrientElementsName" column="nutrient_elements_name"/>
        <result property="nutrientElementsPic" column="nutrient_elements_pic"/>
        <result property="unit" column="unit"/>
        <result property="functionalDescription" column="functional_description"/>
		<result property="dishesId" column="dishes_id"/>
		<result property="contentg" column="content_g"/>
		<result property="foodid" column="food_material_id"/>
    </resultMap>

	<select id="queryObject" resultType="com.platform.entity.NutrientElementsVo">
		select
		a.nutrient_elements_name,
		a.nutrient_elements_pic,
		a.unit,
		b.content_g,
		FROM nutrient_elements a
		LEFT join food_nutrient_elements b
		on a.id=b.nutrient_elements_id
		left join food_ingredients c on c.id= b.food_material_id
		where id = #{id}
	</select>

	<select id="queryList" resultType="com.platform.entity.NutrientElementsVo">
		select a.nutrient_elements_name,
		a.nutrient_elements_pic,
		a.unit,
		b.content_g
		FROM nutrient_elements a
		LEFT join food_nutrient_elements b
		on a.id=b.nutrient_elements_id
		left join food_ingredients c on c.id= b.food_material_id
		where  1=1
		<if test="id != null ">
			AND b.food_material_id=#{id}
		</if>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select sum(b.content_g)
		FROM nutrient_elements a
		LEFT JOIN food_nutrient_elements b on a.id=b.nutrient_elements_id
		LEFT JOIN food_ingredients c on c.food_material_id=b.id
		WHERE 1=1
	</select>
	 
	<insert id="save" parameterType="com.platform.entity.NutrientElementsVo">
		insert into nutrient_elements(
			`id`,
			`nutrient_elements_name`,
			`nutrient_elements_pic`,
			`unit`,
			`functional_description`)
		values(
			#{id},
			#{nutrientElementsName},
			#{nutrientElementsPic},
			#{unit},
			#{functionalDescription})
	</insert>
	 
	<update id="update" parameterType="com.platform.entity.NutrientElementsVo">
		update nutrient_elements 
		<set>
			<if test="nutrientElementsName != null">`nutrient_elements_name` = #{nutrientElementsName}, </if>
			<if test="nutrientElementsPic != null">`nutrient_elements_pic` = #{nutrientElementsPic}, </if>
			<if test="unit != null">`unit` = #{unit}, </if>
			<if test="functionalDescription != null">`functional_description` = #{functionalDescription}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from nutrient_elements where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from nutrient_elements where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>