<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.dao.ApiOrderMenuplanMapper">

    <resultMap type="com.platform.entity.OrderMenuplanEntity" id="orderMenuplanMap">
        <result property="id" column="id"/>
        <result property="menuSn" column="menu_sn"/>
        <result property="userid" column="userid"/>
        <result property="orderType" column="order_type"/>
        <result property="population" column="population"/>
        <result property="fate" column="fate"/>
        <result property="addTime" column="add_time"/>
        <result property="isPrinter" column="is_printer"/>
        <result property="remark" column="remark"/>
        <result property="specification" column="specification"/>
        <result property="
deliveryTime" column="
delivery_time"/>
        <result property="stroeid" column="stroeid"/>
    </resultMap>

	<select id="queryObject" resultType="com.platform.entity.OrderMenuplanEntity">
		select
			`id`,
			`menu_sn`,
			`userid`,
			`order_type`,
			`population`,
			`fate`,
			`add_time`,
			`is_printer`,
			`remark`,
			`specification`,
			`
delivery_time`,
			`stroeid`
		from order_menuplan
		where id = #{id}
	</select>

	<select id="queryList" resultType="com.platform.entity.OrderMenuplanEntity">
		select
    		`id`,
    		`menu_sn`,
    		`userid`,
    		`order_type`,
    		`population`,
    		`fate`,
    		`add_time`,
    		`is_printer`,
    		`remark`,
    		`specification`,
    		`
delivery_time`,
    		`stroeid`
		from order_menuplan
		WHERE 1=1
		<if test="name != null and name.trim() != ''">
			AND name LIKE concat('%',#{name},'%')
		</if>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by id
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from order_menuplan
		WHERE 1=1
        <if test="name != null and name.trim() != ''">
            AND name LIKE concat('%',#{name},'%')
        </if>
	</select>
	 
	<insert id="save" parameterType="com.platform.entity.OrderMenuplanEntity" useGeneratedKeys="true" keyProperty="id">
		insert into order_menuplan(
			`menu_sn`,
			`userid`,
			`order_type`,
			`population`,
			`fate`,
			`add_time`,
			`is_printer`,
			`remark`,
			`specification`,
			`
delivery_time`,
			`stroeid`)
		values(
			#{menuSn},
			#{userid},
			#{orderType},
			#{population},
			#{fate},
			#{addTime},
			#{isPrinter},
			#{remark},
			#{specification},
			#{
deliveryTime},
			#{stroeid})
	</insert>
	 
	<update id="update" parameterType="com.platform.entity.OrderMenuplanEntity">
		update order_menuplan 
		<set>
			<if test="menuSn != null">`menu_sn` = #{menuSn}, </if>
			<if test="userid != null">`userid` = #{userid}, </if>
			<if test="orderType != null">`order_type` = #{orderType}, </if>
			<if test="population != null">`population` = #{population}, </if>
			<if test="fate != null">`fate` = #{fate}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="isPrinter != null">`is_printer` = #{isPrinter}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="specification != null">`specification` = #{specification}, </if>
			<if test="
deliveryTime != null">`
delivery_time` = #{
deliveryTime}, </if>
			<if test="stroeid != null">`stroeid` = #{stroeid}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from order_menuplan where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from order_menuplan where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>