<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.dao.ApiSupplierMapper">

    <resultMap type="com.platform.entity.SupplierVo" id="supplierMap">
        <result property="id" column="id"/>
        <result property="companyName" column="company_name"/>
        <result property="openingBank" column="opening_bank"/>
        <result property="bankAccount" column="bank_account"/>
        <result property="beneficiaryName" column="beneficiary_name"/>
        <result property="telephone" column="telephone"/>
        <result property="mobile" column="mobile"/>
        <result property="deptId" column="dept_id"/>
        <result property="address" column="address"/>
        <result property="deptName" column="dept_name"/>
    </resultMap>

	<select id="queryObject" resultType="com.platform.entity.SupplierVo">
		select
			`id`,
			`company_name`,
			`opening_bank`,
			`bank_account`,
			`beneficiary_name`,
			`telephone`,
			`mobile`,
			`dept_id`,
			`address`,
			`dept_name`
		from nideshop_supplier
		where id = #{id}
	</select>

	<select id="queryList" resultType="com.platform.entity.SupplierVo">
		select
    		`id`,
    		`company_name`,
    		`opening_bank`,
    		`bank_account`,
    		`beneficiary_name`,
    		`telephone`,
    		`mobile`,
    		`dept_id`,
    		`address`,
    		`dept_name`
		from nideshop_supplier
		WHERE 1=1
		<if test="name != null and name.trim() != ''">
			AND name LIKE concat('%',#{name},'%')
		</if>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by id
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from nideshop_supplier
		WHERE 1=1
        <if test="name != null and name.trim() != ''">
            AND name LIKE concat('%',#{name},'%')
        </if>
	</select>
	 
	<insert id="save" parameterType="com.platform.entity.SupplierVo" useGeneratedKeys="true" keyProperty="id">
		insert into nideshop_supplier(
			`company_name`,
			`opening_bank`,
			`bank_account`,
			`beneficiary_name`,
			`telephone`,
			`mobile`,
			`dept_id`,
			`address`,
			`dept_name`)
		values(
			#{companyName},
			#{openingBank},
			#{bankAccount},
			#{beneficiaryName},
			#{telephone},
			#{mobile},
			#{deptId},
			#{address},
			#{deptName})
	</insert>
	 
	<update id="update" parameterType="com.platform.entity.SupplierVo">
		update nideshop_supplier 
		<set>
			<if test="companyName != null">`company_name` = #{companyName}, </if>
			<if test="openingBank != null">`opening_bank` = #{openingBank}, </if>
			<if test="bankAccount != null">`bank_account` = #{bankAccount}, </if>
			<if test="beneficiaryName != null">`beneficiary_name` = #{beneficiaryName}, </if>
			<if test="telephone != null">`telephone` = #{telephone}, </if>
			<if test="mobile != null">`mobile` = #{mobile}, </if>
			<if test="deptId != null">`dept_id` = #{deptId}, </if>
			<if test="address != null">`address` = #{address}, </if>
			<if test="deptName != null">`dept_name` = #{deptName}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from nideshop_supplier where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from nideshop_supplier where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>