<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.dao.ApiUserNutritionMenuMapper">

    <resultMap type="com.platform.entity.UserNutritionMenuVo" id="userNutritionMenuMap">
        <result property="id" column="id"/>
        <result property="menuName" column="menu_name"/>
        <result property="menuCoverPic" column="menu_cover_pic"/>
        <result property="nutritionPrinciple" column="nutrition_principle"/>
        <result property="cateringServiceOrgId" column="catering_service_org_id"/>
        <result property="cateringServiceOrgName" column="catering_service_org_name"/>
        <result property="nideshopUserId" column="nideshop_user_id"/>
        <result property="serviceCycleSt" column="service_cycle_st"/>
        <result property="servcieCycleEt" column="servcie_cycle_et"/>
		<result property="stroeid" column="stroeid"/>
    </resultMap>

	<select id="queryObject" resultType="com.platform.entity.UserNutritionMenuVo">
		select
			`id`,
			`menu_name`,
			`menu_cover_pic`,
			`nutrition_principle`,
			`catering_service_org_id`,
			`catering_service_org_name`,
			`nideshop_user_id`,
			`service_cycle_st`,
			`servcie_cycle_et`
		from user_nutrition_menu
		where id = #{id}
	</select>

	<select id="queryList" resultType="com.platform.entity.UserNutritionMenuVo">
		select
		`menu_name`,
		`menu_cover_pic`,
		`nutrition_principle`,
		`catering_service_org_name`,
		`nideshop_user_id`
		from user_nutrition_menu
		WHERE 1=1
		<if test="nideshopUserid != null">
			AND  nideshop_user_id=#{nideshopUserid}
		</if>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="querlistmenu" resultType="com.platform.entity.UserNutritionMenuVo">
		select
		a.id,
		a.menu_name,
		a.price,
		d.freight_price,
		c.`name`
		from user_nutrition_menu a
		left join stroe b on b.id=a.stroeid
		left join nideshop_coupon c on c.stroeid=b.id
		left join nideshop_order d on d.stroeid=b.id
		WHERE 1=1
		<if test="stroeid != null">
			AND  stroeid=#{stroeid}
		</if>
		<choose>
			<when test="sidx != null and sidx.trim() != ''">
				order by ${sidx} ${order}
			</when>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="querlistmenuinfo" resultType="com.platform.entity.UserNutritionMenuVo">
		select
		a.menu_name,
		a.nutrition_principle,
		a.menu_cover_pic,
		c.comments_score
		from user_nutrition_menu a
		left join stroe b on b.id=a.stroeid
		left join user_comments c on  a.nideshop_user_id=c.nideshop_user_id
		WHERE 1=1
		<if test="stroeid != null">
			AND  stroeid=#{stroeid}
		</if>
		<if test="menuid != null">
			AND  menuid=#{menuid}
		</if>
		<choose>
			<when test="sidx != null and sidx.trim() != ''">
				order by ${sidx} ${order}
			</when>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

 	<select id="queryTotal" resultType="int">
		select count(*) from user_nutrition_menu
		WHERE 1=1
        <if test="name != null and name.trim() != ''">
            AND name LIKE concat('%',#{name},'%')
        </if>
	</select>
	 
	<insert id="save" parameterType="com.platform.entity.UserNutritionMenuVo">
		insert into user_nutrition_menu(
			`id`,
			`menu_name`,
			`menu_cover_pic`,
			`nutrition_principle`,
			`catering_service_org_id`,
			`catering_service_org_name`,
			`nideshop_user_id`,
			`service_cycle_st`,
			`servcie_cycle_et`)
		values(
			#{id},
			#{menuName},
			#{menuCoverPic},
			#{nutritionPrinciple},
			#{cateringServiceOrgId},
			#{cateringServiceOrgName},
			#{nideshopUserId},
			#{serviceCycleSt},
			#{servcieCycleEt})
	</insert>
	 
	<update id="update" parameterType="com.platform.entity.UserNutritionMenuVo">
		update user_nutrition_menu 
		<set>
			<if test="menuName != null">`menu_name` = #{menuName}, </if>
			<if test="menuCoverPic != null">`menu_cover_pic` = #{menuCoverPic}, </if>
			<if test="nutritionPrinciple != null">`nutrition_principle` = #{nutritionPrinciple}, </if>
			<if test="cateringServiceOrgId != null">`catering_service_org_id` = #{cateringServiceOrgId}, </if>
			<if test="cateringServiceOrgName != null">`catering_service_org_name` = #{cateringServiceOrgName}, </if>
			<if test="nideshopUserId != null">`nideshop_user_id` = #{nideshopUserId}, </if>
			<if test="serviceCycleSt != null">`service_cycle_st` = #{serviceCycleSt}, </if>
			<if test="servcieCycleEt != null">`servcie_cycle_et` = #{servcieCycleEt}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from user_nutrition_menu where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from user_nutrition_menu where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>